<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">DYPLOMOWANIE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Strona główna<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Praca dyplomowa
        </a>
        <div class="dropdown-menu" routerLinkActive="active"  aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/praca">Zgłoszone pracy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/praca/zgloszenie">Zgłoszenie nowej pracy</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recezent
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Lista recenzentów</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Powołanie recenzenta</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Komisja Egzaminacyjna
        </a>
        <div class="dropdown-menu" routerLinkActive="active" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/komisja" routerLinkActive="router-link-active" >Lista Komisji</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/komisja/powolanie" routerLinkActive="router-link-active" >Powołanie Komisji</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
