
<div class="row mb-4">
    <div class="col-md">
      <br>
      <h1 class="h2 border-left pl-2"> Powołanie recenzenta pracy dyplomowej </h1>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Informacje o pracy dyplomowej
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead class="bg-primary text-light">
                <tr>
                  <th>Tytuł pracy</th>
                  <th>Opcja</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pracaDyplomowa of listaPracyZRecenzentamiZaproponowanych">
                  <td>
                    <strong>{{pracaDyplomowa.tytulPoPolsku}}</strong><br/>
                    <small>Recenzenta: {{pracaDyplomowa.recenzent.pracownik.imie}} {{pracaDyplomowa.recenzent.pracownik.nazwisko}}</small>
                  </td>
                  <td>
                    <button class="btn btn-outline-warning btn-sm mr-2" (click)="powolaj(pracaDyplomowa)">Oglądaj</button>
                  </td>
                </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
            <div class="card" *ngIf="pracaDyplomowa != null" >
              <div class="card-header">
                Informacje o pracy dyplomowej
              </div>
              <div class="card-body">
                <strong>Tytuł pracy: </strong> <label class="text-danger" > {{pracaDyplomowa.tytulPoPolsku}} </label><br>
                <label ><strong>Promotor: </strong> {{pracaDyplomowa.promotor?.pracownik?.imie}} {{recenzent?.pracaDyplomowa?.promotor?.pracownik?.nazwisko}}</label><br>
                <label ><strong>Imię studenta: </strong> {{pracaDyplomowa.student?.imie}} </label><br>
                <label ><strong>Nazwisko studenta: </strong> {{pracaDyplomowa.student?.nazwisko}}</label><br>
                <label ><strong>Recenzent zaproponowany: </strong> {{pracaDyplomowa.recenzent?.pracownik.nazwisko}}</label><br>
                <button *ngIf="edit != true" class="btn btn-outline-success btn-sm float-right" (click) = "akceptuj()">Akceptuj</button>
                <button *ngIf="edit != true" class="btn btn-outline-info btn-sm float-right mr-2" (click)="editMethod()">Edituj recenzenta</button>

                <form *ngIf="edit==true" [formGroup]="form" (ngSubmit) = "addPropozycja()">
                    <div class="form-group">
                      <label for="recenzent"><strong>Recenzent: </strong></label>
                      <select class="form-control" id="recenzent" formControlName="recenzent">
                        <option [ngValue]="noSelected" selected selected>Wybierz...</option>
                        <option [ngValue]="pracownik" *ngFor="let pracownik of pracownici">
                            {{pracownik.imie}}  {{pracownik.nazwisko}}
                          </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm float-right">Powołaj</button>
                </form>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>



