<div class="row mb-4">
  <div class="col-md">
    <br>
    <h1 class="h2 border-left pl-2">Zgłoszone prace dyplomowe</h1>
  </div>
  <div class="col-md">
    <a routerLink="zgloszenie" class="btn btn-success float-right mt-2 mr-2"> + Dodaj prace</a>
  </div>
</div>
<table class="table table-hover">
  <thead class="bg-primary text-light">
    <tr>
      <th>Tytuł pracy</th>
      <th>Imię studenta</th>
      <th>Nazwisko studenta</th>
      <th>Indeks studenta</th>
      <th>Edycja</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let praca of listaPracDyplomowych">
      <td>
        <strong>{{praca.tytul}}</strong><br/>
      </td>
      <td>
        <strong>{{praca.student.imie}}</strong><br/>
      </td>
      <td>
        <strong>{{praca.student.nazwisko}}</strong><br/>
      </td>
      <td>
        <strong>{{praca.student.indeks}}</strong><br/>
      </td>
      <td>
        <a [routerLink]="[praca.id,'edit']" class="btn btn-outline-warning btn-sm mr-2">Korekta</a>
        <button (click)="deletePraca(praca)" class="btn btn-outline-danger btn-sm mr-2">Usuń</button>
      </td>
    </tr>
  </tbody>
</table>

