<!--The content below is only a placeholder and can be replaced.-->
<app-navigation-bar></app-navigation-bar>
<div class="container">
    <router-outlet></router-outlet>
</div>

<!--div *ngIf="!loged" class="card mt-5 text-white bg-primary col-4 mx-auto">
    <div class="card-header">
      <h2 class="  col-6 mx-auto">Login</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-12" [ngClass]="aplyCSSError('sala')">
          <label for="sala">Login:</label>
          <input type="text" class="form-control" id="sala" formControlName="sala" required>
          <div class="invalid-feedback">Login jest wymagana!</div>
        </div>
        <div class="form-group col-md-12" [ngClass]="aplyCSSError('sala')">
          <label for="sala">Password:</label>
          <input type="text" class="form-control" id="sala" formControlName="sala" required>
          <div class="invalid-feedback">Password jest wymagana!</div>
        </div>
      </div>
      <button (click) = 'login()' class="btn btn-danger float-right">Sing in</button>
    </div>
  </div-->

