<div class="row">
  <div class="col-md-8 mt-5">
      <table class="table table-hover">
          <thead class="bg-primary text-light">
            <tr>
              <th>Pracownik dydatyczne</th>
              <th>Dodaj jako:</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pracownik of pracownici"> 
              <td>
                <strong> {{pracownik.imie}} {{pracownik.nazwisko}}</strong><br>
                <small>{{pracownik.stopienNaukowy}} - {{pracownik.stanowiskoPracownika}}</small>
              </td>
              <td>
                <button class="btn btn-outline-info btn-sm mr-2" (click) = "dodajPrzewodniczacy(pracownik)">Przewodniczący</button>
                <button class="btn btn-outline-info btn-sm mr-2" (click) = "dodajCzlonek(pracownik)">Członek</button>
                <button class="btn btn-outline-info btn-sm mr-2" (click) = "dodajSekretarz(pracownik)">Sekretarz</button>
                
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-md-4 mt-5">
      fdgfhjjs
  </div>
</div>
