<form [formGroup]="form" class="needs-validation" novalidate (ngSubmit)= "createKomisja()">
  <div class="card mt-2">
      <div class="card-header">
          <h1 class="h2"> Powołanie komisji egzaminacyjnej </h1>
        </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-4 " [ngClass]="aplyCSSError('budynek')">
          <label for="budynek">Budynek:</label>
          <input type="text" class="form-control" id="budynek" formControlName="budynek" required>
          <div class="invalid-feedback">Budynek jest wymagane!</div>
        </div>
        <div class="form-group col-md-4" [ngClass]="aplyCSSError('sala')">
          <label for="sala">Sala:</label>
          <input type="text" class="form-control" id="sala" formControlName="sala" required>
          <div class="invalid-feedback">Sala jest wymagana!</div>
        </div>
        <div class="form-group col-md-4" [ngClass]="aplyCSSError('data')">
          <label for="data">Data:</label>
          <input type="text" class="form-control" id="data" formControlName="data" required>
          <div class="invalid-feedback">Data jest wymagany!</div>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-md-4">
              <label for="przewodniczacy">Przewodniczacy:</label>
              <select class="form-control custom-select" (change)="onPrzewodniczacyChanged()" id="przewodniczacy" formControlName="przewodniczacy" required>
                <option [ngValue]="noSelected" selected>Wybierz...</option>
                <option [ngValue]="pracownik" *ngFor="let pracownik of pracowniciForPrzewodniczacy"> 
                  {{pracownik.imie}}  {{pracownik.nazwisko}}
                </option>
              </select>
              <div class="invalid-feedback">Przewodniczacy jest wymagane!</div>
            </div>


        
        <div class="form-group col-md-4">
          <label for="czlonek">Drugi czlonek:</label>
          <select class="form-control" (change)="onCzlonekChanged()" id="czlonek" formControlName="czlonek" aria-placeholder="Wybierz..." required>
                <option [ngValue]="noSelected" selected>Wybierz...</option>
                <option [ngValue]="pracownik" *ngFor="let pracownik of pracowniciForCzlonek" > 
                  {{pracownik.imie}}  {{pracownik.nazwisko}}
                </option>
            </select>
          <div class="invalid-feedback">Drugi czlonek jest wymagana!</div>
        </div>
        <div class="form-group col-md-4">
          <label for="sekretarz">Sekretarz:</label>
          <select class="form-control" (change) = "onSekretarzChanged()" id="sekretarz" formControlName="sekretarz" required>
              <option [ngValue]="noSelected" selected>Wybierz...</option>
                <option [ngValue]="pracownik" *ngFor="let pracownik of pracowniciForCzlonek"> 
                  {{pracownik.imie}}  {{pracownik.nazwisko}}
                </option>
            </select>
        </div>
      </div>
      <button  type="submit" class="btn btn-primary float-right">Powołaj</button>
    </div>
  </div>
  
</form>
