
<form [formGroup]="form" class="needs-validation" novalidate (ngSubmit) = "addPracaDyplomowa()">
  <div class="card mt-2">
    <div class="card-header">
      
      <h1 class="h2"> Zgłoszenie pracy dyplomowej</h1>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-12 " [ngClass]="aplyCSSError('tytul')">
          <label for="tytul">Tytuł pracy:</label>
          <input type="text" class="form-control" id="tytul" formControlName="tytul" required>
          <div class="invalid-feedback"> Tytuł jest wymagany!</div>
        </div>
        <div class="col-md-12" formGroupName ="student" >
            <div class="form-group" [ngClass]="aplyCSSError('student.indeks')">
              <label for="indeks">Nr indeksu studenta:</label>
              <input type="number" class="form-control" id="Indeks" formControlName="indeks" required>
              <div class="invalid-feedback">Nr indeksu studenta jest wymagany!</div>
            </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg float-right">+ Dodaj</button>
    </div>
  </div>
</form>

