<div class="row mb-4">
    <div class="col-md">
      <br>
      <h1 class="h2 border-left pl-2"> Powołanie recenzenta pracy dyplomowej </h1>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Informacje o pracy dyplomowej
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead class="bg-primary text-light">
                <tr>
                  <th>Tytuł pracy</th>
                  <th>Promotor</th>
                  <th>Opcja</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let praca of listaPracDyplomowych">
                  <td>
                    <strong>{{praca.tytulPoPolsku}}</strong><br/>
                  </td>
                  <td>
                    <strong>{{praca.promotor}}</strong><br/>
                  </td>
                  <td>
                    <button class="btn btn-outline-warning btn-sm mr-2" (click)="zaproponuj(praca)">Zaproponuj</button>
                  </td>
                </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-6">
            <div class="card" *ngIf="praca != null" >
              <div class="card-header">
                Informacje o pracy dyplomowej
              </div>
              <div class="card-body">
                <strong>Tytuł pracy: </strong> <label class="text-danger" > {{praca?.tytulPoPolsku}} </label><br>
                <label ><strong>Promotor: </strong> {{praca?.promotor?.pracownik?.imie}} {{praca?.promotor?.pracownik?.nazwisko}}</label><br>
                <label ><strong>Imię studenta: </strong> {{praca?.student?.imie}} </label><br>
                <label ><strong>Nazwisko studenta: </strong> {{praca?.student?.nazwisko}}</label><br>

                <form [formGroup]="form" (ngSubmit) = "addPropozycja()">
                    <div class="form-group">
                      <label for="recenzent"><strong>Recenzent: </strong></label>
                      <select class="form-control" id="recenzent" formControlName="recenzent">
                        <option [ngValue]="noSelected" selected selected>Wybierz...</option>
                        <option [ngValue]="pracownik" *ngFor="let pracownik of pracownici">
                            {{pracownik.imie}}  {{pracownik.nazwisko}}
                          </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right">Zaproponuj</button>
                </form>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast></p-toast>


